<h1>Kitchen Sink</h1>

<%= form_with(url: edit_test_path, method: :get, data: { turbo_frame: :kitchen_test, turbo_action: :advance, turbo_frame: :select_test, controller: "form" }) do |f| %>

  <%= f.label :text_test %>
  <%= f.text_field :text_test, value: params[:text_test] %>
  <br>

  <%= f.label :select_test %>
  <%= f.select :select_test, options_for_select(10.times.map { |a| [a, a] }, params[:select_test]), {}, data: { action: "form#submit" } %>
  <br>

  <%= f.label "Radio 1", value: 1 %>
  <%= f.radio_button :radio_test, 1, data: { action: "change->form#submit" }, checked: params[:radio_test] == "1" %>
  <br>

  <%= f.label "Radio 2", value: 2 %>
  <%= f.radio_button :radio_test, 2, data: { action: "change->form#submit" }, checked: params[:radio_test] == "2" %>
  <br>

  <%= f.label "Radio 3", value: 3 %>
  <%= f.radio_button :radio_test, 3, data: { action: "change->form#submit" }, checked: params[:radio_test] == "3" %>
  <br>
<% end %>

<%= turbo_frame_tag :kitchen_test do %>
  <p>
    Text test is <%= params[:text_test] || "not set" %>
  </p>
  <p>
    Radio test is <%= params[:radio_test] || "not set" %>
  </p>
  <p>
    Select test is <%= params[:select_test] || "not set" %>
  </p>
<% end %>
